.footer-container {
     margin-top: 30px;
     background-color: #1f2d41 !important;
     color: hsla(0, 0%, 100%, .6)
}

.svg {
     clip-path: polygon(0 85%, 100% 100%, 100% 100%, 0% 100%);
}


ul li {
     list-style-type: none;
     cursor: pointer;
     padding-top: 3px;
}

.top {
     width: 80%;
     display: flex;
     gap: 50px;
     flex-wrap: wrap;
     margin: 0 auto;
}

.icons * {
     font-size: 20px;
     padding: 2px;
}

@media (max-width: 928px) {
     .list {
          display: none !important;
     }
}

.a{
     width: 90%;
     margin: 0 auto;
     display: flex;
     gap: 45px;
}
.b img{
     width: 250px;
     height: 300px;
}